a:hover {
    cursor: pointer;
}

.input-group-text {
    width: 8em;
}

.input-group {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:active {
    color: darkgray;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}